h3 {
	padding-left: 15px;
}

.post-section {
	border: 5px outset red;
  	background-color: lightblue;
  	text-align: left;
  	width: 50%;
}

.profile-photo {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	white-space: nowrap;
	float: left;
}

.like-button {
	background-image: url(../img/like.jpg);
	border-radius: 50%;
	height: 50px;
	width: 54px;
	background-size: 50px;
}

.like-counter {
	position: relative;
	bottom: 17px;
	font-size: 22px;
}

button:hover {
	background-color: lightblue;
}


